<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AdsMogo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Mogo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>MogoAds.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>QQ 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>QQ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>RenRen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>UploadLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>adsmogo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>huadufu copy 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>huadufu copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>huadufu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>075AEC3315E06B8B00B9165A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>075AEE4D15E06D9700B9165A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0770AE0D15E067BC00599442</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0796A02F15E2C13C000FF900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07987D8915DD72710022CDD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0799BD7F15DD80D300845FC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0799BD8E15DD80FB00845FC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>079EFB5615E8A6CA00BE792C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>079EFC2215E8A85100BE792C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>079F428B15E0715F00AB4806</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>079F449715E073E100AB4806</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>079F44A615E0743200AB4806</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>079F44B515E0744900AB4806</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>079F46A815E076F700AB4806</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>079F46B715E0775500AB4806</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07B3770D15CA207F004AB14B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07B3773115CA207F004AB14B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07BB49AF15DE16D8002D1FD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07BB4A0515DE23CF002D1FD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07CA2B3515E2D1A600E05E97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07D7148415E2CAF100735A08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07D714E015E2CDDD00735A08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
